{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "bracketSpacing": false,
    "tabWidth": 2,
    "arrowParens":"always",
    "endOfLine": "lf",
    "useTabs": true
}